@import "tailwindcss";

@theme inline {
  --color-brand-gold: #d4af37;
  --color-brand-blue: #003366;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}